## Exercícios

In [16]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

In [17]:
lista = [1,2,3,4,5,6,7,8,9,10]

In [18]:
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela

In [20]:
lista2 = ['um','dois','três','quatro','cinco']

In [21]:
print(lista2)

['um', 'dois', 'três', 'quatro', 'cinco']

In [22]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

In [23]:
frase1 =  'O Senhor é o meu pastor,'

In [24]:
frase2 = 'nada me faltará!'

In [25]:
frase_final = frase1 + frase2

In [26]:
print(frase_final)

O Senhor é o meu pastor,nada me faltará!

In [27]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

In [28]:
tupla = (1,2,3,4,4,4,5)

In [29]:
tupla.count(4)

3

In [30]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela

In [31]:
dicionário = {}

In [32]:
print(dicionário)

{}

In [33]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela

In [38]:
dict = {'k1':'um', 'k2':'dois', 'k3':'três'}
print(dict)

{'k1': 'um', 'k2': 'dois', 'k3': 'três'}

In [40]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela

In [41]:
dict['k4'] = 'quatro'

In [42]:
print(dict)

{'k1': 'um', 'k2': 'dois', 'k3': 'três', 'k4': 'quatro'}

In [9]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. 
# Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.

In [43]:
dict2 = {'a1':'a', 'a2':'b', 'a3':[1,2]}
print(dict2)

{'a1': 'a', 'a2': 'b', 'a3': [1, 2]}

In [44]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista.

In [46]:
lista = ['um',(2,3),{'one':1, 'two':2},4.5]
print(lista)

['um', (2, 3), {'one': 1, 'two': 2}, 4.5]

In [47]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

In [48]:
frase[0:18]

'Cientista de Dados'

# Fim

### Obrigado

### Visite o Blog da Data Science Academy - <a href="http://blog.dsacademy.com.br">Blog DSA</a>